%bcond_without wayland
%bcond_with x

Name:           elementary
Version:        1.21.0
Release:        0
License:        LGPL-2.1+
Summary:        Enlightenment Foundation Libraries - set of libraries used (not only) by E17
Url:            http://enlightenment.org/
Group:          Graphics & UI Framework/API
Source:         %{name}-%{version}.tar.bz2
Source100:      efl.conf
Source1001:     efl.manifest

BuildRequires:  pkgconfig(check)
BuildRequires:  pkgconfig(libinput)
BuildRequires:  zlib-devel
BuildRequires:  gettext-tools
BuildRequires:  hyphen-devel
#BuildRequires:  coregl-devel
#BuildRequires:  gettext-devel
#BuildRequires:  doxygen
#BuildRequires:  python-devel

###
BuildRequires:  pkgconfig(eina)
BuildRequires:  pkgconfig(emile)
BuildRequires:  pkgconfig(eo)
BuildRequires:  pkgconfig(efl)
BuildRequires:  pkgconfig(evas)
BuildRequires:  pkgconfig(ecore-core)
BuildRequires:  pkgconfig(ecore-evas)
BuildRequires:  pkgconfig(ecore-file)
BuildRequires:  pkgconfig(ecore-input)
BuildRequires:  pkgconfig(edje)
BuildRequires:  pkgconfig(ethumb)
BuildRequires:  pkgconfig(ethumb_client)
BuildRequires:  pkgconfig(emotion)
BuildRequires:  pkgconfig(ecore-imf)
BuildRequires:  pkgconfig(ecore-con)
BuildRequires:  pkgconfig(eldbus)
BuildRequires:  pkgconfig(efreet)
BuildRequires:  pkgconfig(efreet-mime)
BuildRequires:  pkgconfig(efreet-trash)
BuildRequires:  pkgconfig(eio)
BuildRequires:  pkgconfig(elocation)
BuildRequires:  pkgconfig(ecore-wl2)
BuildRequires:  eet-tools
BuildRequires:  edje-tools
BuildRequires:  eolian
###

%if %{with wayland}
BuildRequires:  pkgconfig(gles20)
BuildRequires:  pkgconfig(wayland-client)
BuildRequires:  pkgconfig(wayland-cursor)
BuildRequires:  pkgconfig(wayland-egl)
BuildRequires:  pkgconfig(text-client)
BuildRequires:  pkgconfig(xdg-shell-client)
BuildRequires:  pkgconfig(wayland-tbm-client)
BuildRequires:  pkgconfig(wayland-tbm-server)
BuildRequires:  pkgconfig(tizen-extension-client)
BuildRequires:  pkgconfig(tizen-remote-surface-client)
BuildRequires:  pkgconfig(wayland-egl-tizen)
BuildRequires:  wayland-protocols
BuildRequires:  pkgconfig(wayland-egl-tizen)
Requires:       libwayland-extension-client
Requires:       libwayland-egl-tizen
%endif

%if %{with x}
BuildRequires:  pkgconfig(glesv2)
BuildRequires:  pkgconfig(libdri2)
BuildRequires:  pkgconfig(x11)
BuildRequires:  pkgconfig(xcursor)
BuildRequires:  pkgconfig(xinerama)
BuildRequires:  pkgconfig(xpm)
BuildRequires:  pkgconfig(xrandr)
BuildRequires:  pkgconfig(xext)
BuildRequires:  pkgconfig(xcomposite)
BuildRequires:  pkgconfig(xdamage)
BuildRequires:  pkgconfig(xfixes)
BuildRequires:  pkgconfig(xrender)
BuildRequires:  pkgconfig(xscrnsaver)
BuildRequires:  libXtst-devel
BuildRequires:  pkgconfig(xi)
BuildRequires:  pkgconfig(ice)
BuildRequires:  pkgconfig(sm)
BuildRequires:  pkgconfig(ibus-1.0)
%endif

BuildRequires:  glib2-devel
#BuildRequires:  pkgconfig(bullet)
BuildRequires:  pkgconfig(openssl)
BuildRequires:  gnutls-devel
BuildRequires:  curl-devel
BuildRequires:  pkgconfig(vconf)
BuildRequires:  pkgconfig(xkbcommon)
BuildRequires:  systemd-devel
BuildRequires:  pkgconfig(ttrace)

#eldbus
BuildRequires:  dbus-devel

#edje
BuildRequires:  pkgconfig(lua)
BuildRequires:  pkgconfig(sndfile)
BuildRequires:  pkgconfig(libpulse)

#emotion
#BuildRequires:  pkgconfig(gstreamer-1.0)
#BuildRequires:  pkgconfig(gstreamer-plugins-base-1.0)

#evas
BuildRequires:  libexif-devel
BuildRequires:  giflib-devel
BuildRequires:  libtiff-devel
BuildRequires:  pkgconfig(libpng)
BuildRequires:  libjpeg-turbo-devel
BuildRequires:  pkgconfig(pixman-1)
BuildRequires:  pkgconfig(freetype2)
BuildRequires:  pkgconfig(fribidi)
BuildRequires:  pkgconfig(fontconfig)
BuildRequires:  pkgconfig(harfbuzz)
BuildRequires:  pkgconfig(libtbm)

#eeze
BuildRequires:  libudev-devel
BuildRequires:  libmount-devel
BuildRequires:  pkgconfig(dlog)

#ecore_buffer
%if %{with x}
BuildRequires:  pkgconfig(libdri2)
BuildRequires:  pkgconfig(xshmfence)
BuildRequires:  pkgconfig(x11)
BuildRequires:  pkgconfig(xcb)
BuildRequires:  pkgconfig(xcb-sync)
BuildRequires:  pkgconfig(xcb-dri3)
%endif
BuildRequires:  pkgconfig(gbm)
BuildRequires:  pkgconfig(libtbm)
BuildRequires:  pkgconfig(libtdm)
BuildRequires:  pkgconfig(libtdm-client)
BuildRequires:  pkgconfig(libdrm)
BuildRequires:  pkgconfig(wayland-client)
BuildRequires:  pkgconfig(wayland-server)

%description
Elementary is a widget set. It is a new-style of widget set much more canvas
object based than anything else. Why not ETK? Why not EWL? Well they both
tend to veer away from the core of Evas, Ecore and Edje a lot to build their
own worlds. Also I wanted something focused on embedded devices -
specifically small touchscreens. Unlike GTK+ and Qt, 75% of the "widget set"
is already embodied in a common core - Ecore, Edje, Evas etc. So this
fine-grained library splitting means all of this is shared, just a new
widget "personality" is on top. And that is... Elementary, my dear watson
Elementary

%package -n elementary-tizen
Summary:        EFL toolkit for small touchscreens for Tizen devices
Requires:       elementary

%description -n elementary-tizen
Elementary is a widget set. It is a new-style of widget set much more canvas
object based than anything else. Why not ETK? Why not EWL? Well they both
tend to veer away from the core of Evas, Ecore and Edje a lot to build their
own worlds. Also I wanted something focused on embedded devices -
specifically small touchscreens. Unlike GTK+ and Qt, 75% of the "widget set"
is already embodied in a common core - Ecore, Edje, Evas etc. So this
fine-grained library splitting means all of this is shared, just a new
widget "personality" is on top. And that is... Elementary, my dear watson.
Elementary. This is an alternative package for Tizen devices that uses different
set of source code.

%package -n elementary-examples
Summary:   EFL elementary examples

%description -n elementary-examples
EFL elementary examples

%package -n elementary-tools
Summary:   EFL elementary configuration and test apps

%description -n elementary-tools
EFL elementary configuration and test apps package

%package -n elementary-devel
Summary:        Development files for elementary
Group:          Development/Libraries
Requires:       %{name} = %{version}
Recommends:     elementary

%description -n elementary-devel
Development components for the elementary package

%package -n elementary-theme
Summary:        Default theme for elementary

%description -n elementary-theme
Default theme which provides various styles for elementary.

%package -n efl-locale
Summary:        Translations and Locale for package efl
Group: Translations
AutoReqProv: 0

%description -n efl-locale
This package provides translations for package efl.


%prep
%setup -q
cp %{SOURCE1001} .


%build

%if "%{tizen_profile_name}" == "tv"
        export CFLAGS+=" -DTIZEN_PROFILE_TV"
%endif

%if ! %{with x}
CFLAGS+=" -DMESA_EGL_NO_X11_HEADERS "
%endif

CFLAGS+=" -DLIBDIR=\\\"%{_libdir}\\\""

%if "%{asan}" == "1"
%restore_fcommon
%endif

export XDG_RUNTIME_DIR="/tmp/"

%autogen \
    --disable-static \
    --disable-doc \
    --with-glib=always \
    --disable-xim \
    --disable-scim \
    --disable-wayland-text-input \
    --disable-gesture \
    --with-tests=none \
    --enable-fb \
    --disable-tslib \
%if %{with wayland}
    --enable-ecore-wayland \
    --enable-wayland \
    --enable-egl \
    --with-opengl=es \
    --disable-rpath \
    --disable-ibus \
    --enable-tbm \
%endif
%if %{with x}
    --with-opengl=es \
    --disable-gesture \
%else
    --with-x11=none \
    --disable-rpath \
%endif
    --disable-physics \
    --disable-cxx-bindings \
    --enable-lua-old \
    --enable-ecore-buffer \
    --disable-gstreamer1 \
    --enable-harfbuzz \
    --enable-hyphen \
    --with-dictionaries-hyphen-dir=/usr/share/hyphen/ \
    --disable-cserve \
    --disable-poppler \
    --disable-spectre \
    --disable-librsvg \
    --disable-libraw \
    --disable-systemd \
    --disable-cserve \
    --enable-tizenaudio \
    --with-elementary-base-dir="share/.elementary" \
    --with-elementary=elm \
    --with-eolian-gen=/usr/bin/eolian_gen \
    --with-elua=/usr/bin/elua \
    --with-edje-cc=/usr/bin/edje_cc \
    --with-eet-eet=/usr/bin/eet \
    --enable-i-really-know-what-i-am-doing-and-that-this-will-probably-break-things-and-i-will-fix-them-myself-and-send-patches-abb \
    ac_cv_func_getuid=no
#    --enable-systemd \
#    --enable-drm \
#    --enable-gl-drm \

%__make %{?_smp_mflags} 2>&1 | \
sed \
-e 's%^.*: error: .*$%\x1b[37;41m&\x1b[m%' \
-e 's%^.*: warning: .*$%\x1b[30;43m&\x1b[m%'

%install
%make_install
#rm -rf %{buildroot}%{_libdir}/ecore/system/upower
#rm %{buildroot}/usr/share/ecore_x/checkme

mkdir -p %{buildroot}%{_tmpfilesdir}
install -m 0644 %SOURCE100 %{buildroot}%{_tmpfilesdir}/efl.conf

%find_lang efl

%post -n elementary -p /sbin/ldconfig
%postun -n elementary -p /sbin/ldconfig

%post -n elementary-tizen
rm -f %{_libdir}/libelementary.so.1
#ln -sf %{_libdir}/libelementary.so.1.99.100 %{_libdir}/libelementary.so.1
ldconfig -l %{_libdir}/libelementary.so.1.99.100

%preun -n elementary-tizen
rm -f %{_libdir}/libelementary.so.1
#ln -sf %{_libdir}/libelementary.so.1.21.* %{_libdir}/libelementary.so.1
ldconfig -l %{_libdir}/libelementary.so.1.21.*

%postun -n elementary-tizen -p /sbin/ldconfig


%files
%manifest efl.manifest
%defattr(-,root,root,-)
%license COPYING
%{_bindir}/elementary_quicklaunch
%{_bindir}/elementary_run
%{_libdir}/edje/modules/elm/v-1.21/module.so
%{_libdir}/libelementary.so.1
%{_libdir}/libelementary.so.1.21.*
%{_datadir}/elementary/edje_externals/*
%{_datadir}/icons/hicolor/128x128/apps/elementary.png
%{_libdir}/elementary/modules/
/usr/lib/debug/%{_libdir}/elementary/modules/
%exclude %{_datadir}/elementary/config/
%{_tmpfilesdir}/efl.conf

%files -n elementary-tizen
%manifest efl.manifest
%defattr(-,root,root,-)
%{_libdir}/libelementary.so.1.99.*

#%files -n elementary-examples
#%manifest efl.manifest
#%defattr(-,root,root,-)
#%{_libdir}/elementary/examples/*

%files -n elementary-tools
%manifest efl.manifest
%defattr(-,root,root,-)
%{_datadir}/applications/*
%{_datadir}/elementary/images/*
%{_datadir}/elementary/objects/*
%{_bindir}/elementary_config
%{_bindir}/elementary_test*
%{_bindir}/elementary_codegen
%{_bindir}/elm_prefs_cc

%files -n elementary-devel
%manifest efl.manifest
%defattr(-,root,root,-)
%{_includedir}/elementary-1/*.h*
%{_datadir}/eolian/include/elementary-1/*.eo
%{_libdir}/libelementary.so
%{_libdir}/pkgconfig/elementary.pc
%{_libdir}/cmake/Elementary/ElementaryConfig.cmake
%{_libdir}/cmake/Elementary/ElementaryConfigVersion.cmake
/usr/share/eolian/include/elementary-*1/*.eot
%exclude %{_includedir}/elementary-cxx-1/*.hh

%files -n elementary-theme
%manifest efl.manifest
%{_datadir}/elementary/themes/*
%exclude /usr/share/icons/Enlightenment-X
%exclude /usr/share/elementary/test*

%files -n efl-locale -f efl.lang
%license COPYING
%defattr(-,root,root,-)

